@using Project.Models
@model Product


@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />

<CENTER>
    <div>
        <h2>What are our products?</h2>
       
        <img src="@Url.Content("~/ProductImage/" + Model.Image)" alt="" />
       
        <br />
        <h3> @Model.ProductName</h3>
        <h3 style="color:red">Price: @Model.ProductPrice</h3>
        <br />
        @Model.ProductDescription
        <br />

        <input type="submit" value="Buy" id="bgnCart" />

    </div>
</CENTER>
